*{
    padding: 0px;
    margin: 0px;
    font-family: "roboto";  
}

/* INICIO BARRA NAVEGACIÓN */

#nav{
    width: 100%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size:14px;
}

#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    float: left;
    padding-left: 387px;
}

#nav ul li{
    line-height: 44px;    
    float:left;
    font-family: "roboto";
}

#nav ul li a{
    text-decoration: none;
    color:#d6d6d6;   
    padding-left: 76px;
    transition: 300ms;
    
}

#nav ul li a:hover{
    color:#ffffff;   
}

#lupa{
     padding-right: 76px;   
    width: 18px;
    height: 20px;
}

#carrito{
    width: 18px;
    height: 20px;
}

/* FIN BARRA NAVEGACIÓN */


/* INICIO PARTE SUPERIOR */
/* DIV SUPERIOR */

#superior p{
    text-align: center;
    padding-right: 527px;
    padding-left: 528px;
    padding-top: 18px;
}

.naranja{
    color: #c04a07;
    font-size: 12px; 
}

.disfruta{
    font-size: 14px;
}

#superior h1{
    text-align: center;
    font-size: 70px;
}

#superior h4{
    text-align: center;
    font-size: 25px;    
}

.comprar{
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-size: 17px; 
    margin-top: 18px;
    border-radius: 32%;
    width: 100px; 
    height: 35px;
    background-color: #0071e3;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#superior a{
    text-decoration: none;
    color: #0066cb;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    margin-top: 15px;
}

#superior a:hover{
    text-decoration: underline;
}

/* FIN DEL DIV SUPERIOR */

img.horizontal{
    margin-top: 70px;
    margin-left: 460px;
    width: 980px; 
    height: 150px;
}

/* FIN PARTE SUPERIOR */


/* INICIO PARTE IZQUIERDA */
/* DIV IZQUIERDO */

#izquierdo{
    background-color: rgb(242, 242, 242);
    width: 585px;
    height: 400px;
    margin-left: 350px;
    margin-top: 130px;
    text-align: center;
    padding-top: 60px;
}

#izquierdo h4{
    font-size: 24px;
}

#izquierdo h2{
    padding-top: 5px;
    font-size: 45px;    
}

.ver{
    background-color: #0071e3; 
    border-radius: 36%;
    width: 60px;
    height: 38px; 
    color:white;
    cursor: pointer;
    margin-top: 15px;
}

/* FIN DIV IZQUIERDO */

img.accesorios{
    width: 586px;
    height: 285px;
    margin-left: 350px;
}
/* FIN PARTE IZQUIERDA */


/* INICIO PARTE DERECHA / DIV */

#derecho{
    background-color: rgb(242, 242, 242);
    width: 585px;
    height: 684px;
    text-align: center; 
    float: right;
    margin-top: -460px;
    margin-right: 350px;
    padding-top: 60px;
}

#derecho h4{
    font-size: 24px;
}

#derecho h2{
    padding-top: 5px;
    font-size: 45px;    
}

#derecho p{
    margin-top: 15px;
    padding: 5px;
    line-height: 25px;
}

#derecho a{
    margin-top: 11px;
    text-decoration: none;
    color: #0066cb;
    display: block;
}

#derecho a:hover{
    text-decoration: underline;
}

img.portatil{
    width: 425px;
    height: 285px;
    display: block;
    margin-top: 98px;
    margin-left: 85px;
}

/* FIN PARTE DERECHA DIV */


/* INICIO PARTE DE ABAJO / DIV */

#abajo{
    text-align: center;
    margin-top: 83px;
}

#abajo h3{
    font-size: 23px;
}

img.caja{
    width: 42px;
    height: 45px;
    margin-bottom: 5px;
}

#abajo p{
    margin-top: 7px;
    line-height: 30px;
    font-size: 20px;
}

#abajo a{
    text-decoration: none;
    text-decoration: none;
    color: #0066cb;
    margin-top: 5px;
    display: block;
    font-size: 20px;
}

#abajo a:hover{
    text-decoration: underline;
}

/* FIN PARTE DE ABAJO / DIV */


/* INICIO FOOTER */

footer{
    margin-top: 38px;
    font-size: 13px;
    background-color: rgb(242, 242, 242);
    width: 1205px;
    margin-left: 352px;
    height: 83px;
}

footer p{
    padding-left: 109px;
    padding-top: 20px;
    color: rgb(71, 75, 75);
}


#links ul{
    list-style: none;
}

#links ul li{
    padding-left: 65px;
    margin-left: 45px;
    margin-right: -95px;
    float: left;
    margin-top: 7px;
    text-align: center;
}

#links ul li a{
    text-decoration: none;
    color:rgb(51, 49, 49);
}

#links ul li a:hover{
    text-decoration: underline;
    color:black;
}






















